.selfi img {
    width: 50px;
    border-radius: 50%;
}

.button_follow {
    background-color: green;
    color: white;
    padding: 5px;
}

.button_unfollow {
    background-color: red;
    color: white;
    padding: 5px
}

.pagination {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.pagination_active {
    font-weight: 700;
    zoom: 110%;
    border-bottom: 1px solid black;
}